@media (max-width: 600px) {
    .nav-wide {
        display: none;
    }
    .nav-cell {
        display: flex;
        /* justify-content: space-around; */
        padding: 1em;
        background-color: black;
    }
    .nav-cell li {
        /* text-decoration: none; */
        list-style: none;
    }
    #aba{
        display: flex;
}
    .nav-cell ul{
        display: flex;
        justify-content: center;
    }

    
    .nav-cell button{
        display: flex;
        background-color: black;
        color: white;
        padding: 0.5em;
        justify-content: flex-start;
    }
    .nav-cell a{
    display: none;
    text-decoration: none;
    
}
    
}