.nav-container {
    background-color: #ffffff;
    padding: 1.5em 2em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    /* position: sticky; */
    /* top: 0; */
    /* z-index: 1000; */
}

.nav-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    list-style: none;
    /* margin: 0;
    padding: 0; */
}

.nav-container a {
    text-decoration: none;
    padding: 0.6em 1em;
    color: #0066cc;
    font-weight: 600;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-bottom: 2px solid transparent;
}

.nav-container a:hover {
    background-color: #0066cc;
    color: #ffffff;
}

.nav-container a#aba {
    border: 2px solid #0066cc;
    color: #0066cc;
    background-color: #e6f2ff;
    border-radius: 8px;
}

footer {
    display: flex;
    width: 100vw;
    background-color: black;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
    /* align-content: flex-end; */
}
footer p{
    color: #fff;
    font-size: 0.7em;
}
footer img {
    width: 2.5em;
    border-radius: 5px;
}
#paragrafo-600 {
    display: none;
}


@media (max-width: 1300px) {
    .problem-container h2 {
        text-align: center;
    }
    
}


@media (max-width: 768px) {
    .problem-container h2 {
        text-align: center;
        font-size: 1.35rem;
    }
    .nav-container a {
        font-size: 0.9rem;
    }
    .card-container {
        flex-wrap: wrap;
    }
    #paragrafo-pc{
        display: none;
    }


    #paragrafo-600 {
    text-align: center;
    display: flex;
}

}

@media (max-width: 600px) {
    .problem-container h2 {
        text-align: center;
        font-size: 1.2rem;
    }
    .solution-container h2 {
        text-align: center;
        font-size: 1.2rem;
    }

    .nav-container ul {
        gap: 0;
    }
    .problem-container{
        flex-direction: column;
    }
    .solution-container{
        /* text-align: center; */
        flex-direction: column-reverse;
    }
}


@media (max-width: 425px) {
    #paragrafo-600{
        font-size: 0.9rem;
    }
}

@media (max-width: 375px) {
    article img {
        width: 16em;
    }
}
